<footer class="page-footer font-small unique-color-dark ">
    <div class="footer-copyright text-center py-3" style="color: #fff;">© 2021 Copyright:
      <a href="#" style="color: #fff;"> Note's App</a>
      <br>
      <br>
      <h9>Made with &hearts; by <span>Kakaraparthi Phanindra Kumar</span></h5>
    </div>
  </footer>