<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <style>
        *{
            font-family: 'Dosis', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .body{
            background: #00C7BA;
            display: block;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            line-height: 1.5;
            justify-content: center;
            align-items: center;
        }
        div{
            display: block;
        }
        .navbar{
            display: flex;
            padding: .8rem 2rem;
            align-items: center;
            justify-content: space-between;
        }
        .navhome{
            background: #007CC7;
        }
        .navbar-brand{
            font-size: 2rem;
            font-weight: 600;
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
        }
        a{
            background-color: transparent;
        }
        .navbar-toggler{
            background: transparent;
            font-size: 1.25rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        ul{
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
        uul{
            margin-right: 60px;
        }
        li{
            display: list-item;
        }
        .nav-link{
            display: block;
            padding: .5rem 1rem;
        }
        .navbar-light .navbar-nav .nav-link{
            color: rgba(0,0,0,.5);
        }
        .navkey{
            font-size: large;
            color: #000000;
            margin-right: 20px;
            text-transform: capitalize;
            font-weight: 600;
            padding: 5px;
        }
        .navkey:hover{
            background: #fff;
            border-radius: 14px;
        }
        </style>

<body>
    <%- include('./partials/nav') %>

    <div class="jumbotron jumbotron-fluid" style="align-items: center; background: white;">
        <div class="container-fluid" >
       <h3 style="text-align: center; font-weight: 800; color: rgb(133, 91, 0);">&spades; The Page Your Searching is Not available &spades; </h3>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
</body>
</html>