<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
      }
      body{
        background: rgb(219,226,226);
      }
      .row{
        background: #fff;
        border-radius: 20px;
        box-shadow: 12px 12px 22px grey;
      }
      img{
        margin-top: 150px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      .btn1{
        border:none;
        outline: none;
        height: 40px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
      }
      .btn1:hover{
        background: white;
        border: 1px solid;
        color: black;
      }
      .alert{
        width: 107%;
        right: 14px;
      }
    </style>

<body>
  
    <!-- <h1 style="font-weight: 800; font-size: 70px; text-align: center; "><span style="color:#6C63FF ; ">Register</span></h1>
        <div class="jumbotron jumbotron-fluid" style="background: white;">
          <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12" >
              <img  src="/public/undraw_secure_login_pdn4.svg" alt="Picture " style=" display: block; margin-left: auto; margin-right: auto; width: 57%; margin-top: 60px;">
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="jumbotron jumbotron " style="background: white;">
                  <form action="/register" method="POST">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Name</label>
                      <input type="text" class="form-control" name="name" minlength="10" id="exampleFormControlInput1" placeholder="Enter Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" name="mail" id="exampleFormControlInput1" placeholder="Enter Your Mail ID" required>
                      </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="password" class="form-control" name="password1" id="exampleFormControlInput1" placeholder="Enter Your password" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1"> Confirm Password</label>
                        <input type="password" class="form-control" name="password2" id="exampleFormControlInput1" placeholder="Re-Enter Your password" required>
                      </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn btn-outline-dark" style="transition: 0.4s;">Submit</button>
                      </div>
                      <p>Have an Account <a href="/login">login</a> Here</p>
                  </form>

                </div>
            </div>
          </div>
        </div> -->


        <section class="Form my-5 mx-10"> 
          <div class="container">
            <div class="row no-gutters">
              <div class="col-lg-5">
                  <img src="/undraw_Login_re_4vu2.svg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 px-5 pt-3">
                <h1 class="font-weight-bold py-3">Register</h1>
                <h4>Create your account</h4>
                <form action="/register" method="POST">
                  <div class="col-lg-7">
                      <% if (error!='') { %>
                        <div class="alert alert-danger" role="alert">
                          &empty; <%=error%>
                        </div>
                        <%}%>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-7">
                      <input type="text" class="form-control my-3 p-2" name="name" minlength="10" id="exampleFormControlInput1" placeholder="Enter Your Name" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-7">
                      <input type="email" class="form-control my-3 p-2" name="mail" id="exampleFormControlInput1" placeholder="Enter Your Mail ID" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-7">
                      <input type="password" class="form-control my-3 p-2" name="password1" id="exampleFormControlInput1" placeholder="Enter Your password" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-7">
                      <input type="password" class="form-control my-3 p-2" name="password2" id="exampleFormControlInput1" placeholder="Re-Enter Your password" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-7">
                      <button type="submit" class="btn1 mt-3 mb-5">Submit</button>
                    </div>
                  </div>
                  <p>Have an account <a href="/login">Login</a> Here</p> 
                </form>
              </div>
            </div>
          </div>
        </section>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
</body>
</html>